@font-face {
  font-family: '2SMEDIA';
  src:  url('fonts/2SMEDIA.eot?5rlv9y');
  src:  url('fonts/2SMEDIA.eot?5rlv9y#iefix') format('embedded-opentype'),
    url('fonts/2SMEDIA.ttf?5rlv9y') format('truetype'),
    url('fonts/2SMEDIA.woff?5rlv9y') format('woff'),
    url('fonts/2SMEDIA.svg?5rlv9y#2SMEDIA') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '2SMEDIA' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dove:before {
  content: "\e900";
}
.icon-Facebook:before {
  content: "\e901";
}
.icon-flag:before {
  content: "\e902";
}
.icon-house:before {
  content: "\e903";
}
.icon-mountains:before {
  content: "\e904";
}
.icon-Play:before {
  content: "\e905";
}
.icon-Twitter:before {
  content: "\e906";
}
.icon-Vimeo:before {
  content: "\e907";
}
.icon-YouTube:before {
  content: "\e908";
}

